name: Deploy Worker System
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Force Deploy from Absolute Path
        run: |
          # We are bypassing GitHub's workspace logic and pointing directly to the disk
          # Use the path you found with the 'find' command
          docker compose -f /home/r1m/actions-runner/_work/ci-cd/ci-cd/docker-compose.yml down --remove-orphans
          docker compose -f /home/r1m/actions-runner/_work/ci-cd/ci-cd/docker-compose.yml up -d --build
          
          echo "--- Checking Docker Status ---"
          docker ps
